body 
{
   background: #FFFFFF;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
    font-size:  x-small;
}
/*
ul
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
    */

h1 {
	font-size: 18pt;
	color: #F00;
}

#header
{
    clear:both;
}

.span2 {
	width: 16.66667%;
	float: left;
}

.span8 {
	width: 66.66667%;
	float: left;
}

.span12 {
	width: 100%;
	float: left;
}

.center {
	width: 500px;
	margin: 0px auto;
}

.gray
{
    background-color: #FAFAFA;
}

.checkimg
{
    float:left; 
    height:20px; 
    width:20px; 
}

.respuestapregunta
{
   font-size:14px;
    width:30%;
}
.textopregunta
{
    width:65%;
    text-align:left;
    /*float:left;*/
   font-size:14px;
}

#acciones
{
     margin-top:20px;
     text-align:center;
}

.boton{
    background:#A0A0A0; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;  
    border-radius: 5px;
    padding: .5em 1.5em;
    color: white;
    font-weight:normal;
    font-size:12px;
    text-decoration:none;
}
.boton:hover {
    background:#1A5DB3;
    background-image: -webkit-linear-gradient(bottom,#0D98FB,#1A5DB3);
    background-image: -moz-linear-gradient(bottom,#0D98FB,#1A5DB3);
    background-image: -o-linear-gradient(bottom,#0D98FB,#1A5DB3);   
    background-image: linear-gradient(to top,#0D98FB,#1A5DB3);
    cursor: pointer;
}



#novartislogo
{
    width:25%;
}

#mostrarresultado
{
     margin-top:10%;
     margin-left:5%;
    float: left;
}

#limpiar
{
     margin-top:10%;
     margin-left:5%;
    float: left;
}